<?xml version="1.0" encoding="utf-8" ?>
<ruleset>
  <rule>
    <meta>ItemPrice</meta>
    <ruleData name="ItemPriceData" type="data">
      <ItemPriceCollection>
        <ItemPrice>
          <BarCodeId>111</BarCodeId>
          <Price>0.60</Price>
			  </ItemPrice>
        <ItemPrice>
          <BarCodeId>222</BarCodeId>
          <Price>0.25</Price>
        </ItemPrice>
		 </ItemPriceCollection>
    </ruleData>
  </rule>
</ruleset>